.containerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.containerImg {
    width: 90%;
    height: 15rem;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    margin-bottom: 1rem;
}

.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
}

.Card {
    border: 2px solid #000000;
    border-radius: 10px;
    width: 57rem;
    height: 10rem;
    padding: 1.5rem;
}