.containerRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    overflow:hidden;
    background-color: #EAF4F4; /* Azure Mist */
}

h1{
    margin: 2vh 0 0 0;
    font-size: 2.5rem;
    color: #3a5d4e; /* Jungle Teal */
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6FFF8; /* Mint Cream */
    row-gap: 1rem;
    border: 2px solid #A4C3B2; /* Muted Teal */
    padding: 0.75rem 2.7rem;
    border-radius: 20px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
}

.textLabel {
    font-weight: bold;
    color: #3a5d4e; /* Jungle Teal */
    padding: 0rem;
    margin: 1rem 1rem 0.2rem 0rem;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    flex-direction: column;
}

.inputField {
    width: 250px;
    height: 25px;
    padding: 0.5rem;
    border: 1px solid #CCE3DE; /* Frozen Water */
    border-radius: 10px;
    font-size: 0.75rem;
    background: #EAF4F4; /* Azure Mist */
    color: black; /* Jungle Teal */
}

.btnsubmit {
    width: 270px;
    height: 41px;
    border: 1px solid #6B9080; /* Jungle Teal */
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0 1rem 0;
    background: #3a5d4e; /* Jungle Teal */
    color: #F6FFF8; /* Mint Cream */
}

.guest{
    background: #3a5d4e; /* Jungle Teal */
    color: #F6FFF8; /* Mint Cream */
    border: 1px solid #6B9080; /* Jungle Teal */
    border-radius: 5px;
    margin: 8px 0 0 0;
}

.decoLink {
    text-decoration: none;
    color: #6B9080; /* Jungle Teal */
    font-size: 0.9rem;
}

.logo{
    width: 275px;
    margin-bottom: 25px;
}