.containerReviewCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #CCE3DE; /* Frozen Water */
    padding: 0.5rem;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F6FFF8; /* Mint Cream */
    color: #6B9080; /* Jungle Teal */
}

.containerReviewLeftContent {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.containerProfileBulat {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #CCE3DE; /* Frozen Water */
    color: #6B9080; /* Jungle Teal */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.containerKomentar {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.ContainerWaktu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}